    {
        "name": {{cluster.name}},
        "description": {{cluster.description}},
        "vxnet": {{cluster.vxnet}},
        "links": {
            "hadp_service": {{cluster.hadp_service}}
        },
        "nodes": [{
            "role": "hive-server",
            "container": {
               "type": "kvm",
               "zone": "pek3a",
               "image": "img-ot5ckkp9"
            },
            "count": {{cluster.hive-server.count}},
            "cpu": {{cluster.hive-server.cpu}},
            "memory": {{cluster.hive-server.memory}},
            "volume": {
                "size": {{cluster.hive-server.volume_size}},
                "mount_point": "/data",
                "filesystem": "ext4"
            },
            "instance_class": {{cluster.hive-server.instance_class}},
            "advanced_actions": ["change_vxnet", "scale_horizontal"],
            "services": {
                "init": {
                    "cmd": "/usr/local/hive/hive_shell.sh init"
                },
                "start": {
                    "order": 1,
                    "cmd": "/usr/local/hive/hive_shell.sh start"
                },
                "stop": {
                    "order": 2,
                    "cmd": "/usr/local/hive/hive_shell.sh stop"
                }
            },
            "health_check": {
                "enable": true,
                "interval_sec": 60,
                "timeout_sec": 10,
                "action_timeout_sec": 30,
                "healthy_threshold": 3,
                "unhealthy_threshold": 3,
                "check_cmd": "/usr/local/hive/hive_shell.sh status",
                "action_cmd": "/usr/local/hive/hive_shell.sh start"
            }
        }],
        "env": {
            "database": {{env.database}}, 
            "database_host": {{env.database_host}},
            "database_port": {{env.database_port}},
            "database_user": {{env.database_user}},
            "database_password": {{env.database_password}},
            "database_name": {{env.database_name}},
            "QingStor": {{env.QingStor}},
            "access_key": {{env.access_key}},
            "secret_key": {{env.secret_key}}
        },
        "endpoints": {
            "hiveserver2": {
                "port": 10001
            },
            "metastore": {
                "port": 9083
            }
        }
    }
